.submit-button {
    text-align: center;
    padding: 10px 40px 10px 40px;
    background-color: #ffa726;
    color: #FFFFFF;
    font-size: 0.6em;
    font-weight: bold;
    margin-top: 4.5vh;
    margin-bottom: 5vh;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}

.submit-button:hover {
    background-color: #ffcc80;
    transition: 0.2s ease;
}

/* SREEN SIZES ADJUSTEMENTS */
@media screen and (max-width: 1020px) {
    .submit-button {
        font-size: 0.6em;
        margin-top: 3vh;
    }   
}

@media screen and (max-width: 500px) {
    .submit-button {
        font-size: 0.9em;
        margin-top: 3vh;
    }   
}