/* Styles des "Cards" selon leur status */
.Unselected {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 240px;
    padding: 1vh;
    background-color: #0D2436;
    border: 1.5px solid #009B86;
    border-radius: 15px;
    transition: 0.2s;
}

.Selected {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 240px;
    padding: 1vh;
    background-color: #009B86;
    border: 1.5px solid #009B86;
    border-radius: 15px;
    transition: 0.2s;
}


/* HOVER : variation des styles */
.Unselected:hover, .Selected:hover {
    background-color: #34AC9C;
    transition: 0.2s;
}

.Unselected:hover .Button, .Selected:hover .Selected-button {
    background-color: #34AC9C;
    transition: 0.2s;
    border: 1px solid #FFFFFF;
}

.Button:hover, .Selected-button:hover {
    color: #CCCCCC;
    transition: 0.2s ease;
}


/* Style des éléments internes à la "Card" */
.Image {
    height: auto;
    object-fit: cover;
    margin: 0;
}

.Card-Title {
    font-size: 0.575em;
    font-weight: 700;
    margin: 0;
}

.Button {
    font-size: 0.475em;
    font-weight: 500;
    background-color: #009B86;
    border: 1px solid #009B86;
    padding: 8px 30px 8px 30px;
    border-radius: 18px;
    transition: 0.2s ease;
    cursor: pointer;
}

.Selected-button {
    font-size: 0.475em;
    font-weight: 500;
    background-color: #009B86;
    border: 1px solid #009B86;
    padding: 8px 30px 8px 30px;
    border-radius: 18px;
    transition: 0.2s ease;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #FFFFFF;
}

/* TAILLE D'ECRAN : ajustements */
@media screen and (max-width: 1020px) {
    .Card-Title {
        font-size: 0.7em;
    }

    .Button {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 500px) {
    .Card-Title {
        font-size: 0.9em;
    }

    .Button {
        font-size: 0.8em;
    }
}