/* Card styles depending on status */
.card-unselected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 360px;
  width: 220px;
  margin-bottom: 2vh;
  transition: 0.2s;
}

.card-selected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 360px;
  width: 220px;
  margin-bottom: 2vh;
  transition: 0.2s;
}

.card-excluded {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 360px;
  width: 220px;
  opacity: 0.5;
  margin-bottom: 2vh;
  transition: 0.2s;
}

/* HOVER */
.card-image-container:hover {
  background-color: #ffa726;
  transition: 0.1s;
  cursor: pointer;
}

.card-image-container:hover .card-image {
  opacity: 0.8;
}

/* Cards elements */
.card-image-container {
  background-color: #fff;
  height: 300px;
  width: 220px;
  padding: 6px;
}

.card-image-container-selected {
  background-color: #ffa726;
  height: 300px;
  width: 220px;
  padding: 6px;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-text-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 60px;
  width: 85%;
}

.card-title {
  font-size: 0.6em;
  font-weight: 400;
  width: 100%;
  text-align: left;
  margin-top: 0.7vh;
  line-height: 1.2;
}

/* SREEN SIZES ADJUSTEMENTS */
@media screen and (max-width: 1020px) {
  .card-title {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 500px) {
  .card-title {
    font-size: 0.9em;
  }

  .card-unselected {
    margin-bottom: 1vh;
  }
  
  .card-selected {
    margin-bottom: 1vh;
  }
  
  .card-excluded {
    margin-bottom: 1vh;
  }
}
