.modal-background-box {
    position: fixed;
    background: #00000050;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    max-height: fit-content;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 3vh;
    overflow: auto;
    box-shadow: 1px 1px 8px 1px black;
}

.modal-title {
    color: black;
    margin-bottom: 3vh;
}

.modal-text {
    color: black;
    font-size: 0.5em;
}

.modal-image {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-close-button {
    color: black;
    background-color: #FFFFFF;
    font-size: 0.475em;
    font-weight: 500;
    border: 1px solid black;
    margin-top: 40px;
    padding: 8px 30px 8px 30px;
    border-radius: 18px;
    transition: 0.2s ease;
    cursor: pointer;
}

.modal-close-button:hover {
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    transition: 0.2s ease;
}

/* TAILLE D'ECRAN : ajustements */
@media screen and (max-width: 1020px) {
    .modal-box {
        width:60%;
    }
    .modal-title {
        font-size: 0.8em;
    }
    .modal-text {
        font-size: 0.6em;
    }
    .modal-close-button {
        font-size: 0.6em;
    }   
}

@media screen and (max-width: 500px) {
    .modal-box {
        width:70%;
    }
    .modal-title {
        font-size: 1em;
    }
    .modal-text {
        font-size: 0.8em;
    }
    .modal-close-button {
        font-size: 0.7em;
    }   
}