@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.app {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  color: #ffffff;
  background-color: #1f1f24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.app h1 {
  font-weight: 700;
}

.movies-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px 20px;
  flex-wrap: wrap;
  width: 100%;
}

/* SREEN SIZES ADJUSTEMENTS */
@media screen and (max-width: 1080px) {
  .movies-row {
    justify-content: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
